body
{
    background: url('http://localhost:8080/resources/images/mountain-climber.jpg') no-repeat center center fixed;
}
.page
{
    bottom:0;
}

.login-form
{
    margin-top:50vh;
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

form
{
    padding:20px;
    background: rgba(0,0,0,0.6);
}


label
{
    font-size:20px;
}

h1, .row p
{
    text-align:center;
    margin: 40px 0;
}

input[type="text"], input[type="password"]
{
    color: black;
    border:1px solid lightgrey;
    border-radius:4px;
}

.btn-cliffhangout
{
    border:1px solid lightgrey;
    border-radius:4px;
    height:25px;
    background : rgba(0,0,0,0.8);
}

.btn-cliffhangout:hover, .btn-cliffhangout:focus
{
    background : rgba(255,255,255,0.5);
}

.error
{
    color:red;
}

.success
{
    color:green;
}