body
{
    background: url('http://localhost:8080/resources/images/climber2.jpg') no-repeat center center fixed;
}

h1, h2, h3, h4
{
    text-align: center;
}

h1
{
    color:black!important;
}

form
{
    text-align: center;
}

label{
    color:black!important;
}

.submitSite
{
    margin-top: 20px;
}

.addWay, .deleteSector
{
    margin-bottom: 10px;
}

.btn
{
    margin-bottom: 10px;
}

.siteContent
{
    text-align:center;
}

#addLength
{
    text-align: center;
}

.panel-cliffhangout
{
    background: none;
}

.panel-cliffhangout .panel-body
{
    background: rgba(0,0,0,0.5);
}

.panel-cliffhangout .panel-heading, .panel-cliffhangout .panel-footer
{
    background: rgba(0,0,0,0.8);
}
.fileNames
{
    color:black;
}

@media only screen and (max-width: 768px)
{
    h1
    {
        margin-top:60px;
    }
}