body
{
    background: url('http://localhost:8080/resources/images/climber2.jpg') no-repeat center center fixed;
    text-align: center;
}

.page{
    bottom:0;
}

.container
{
    background-color : rgba(0,0,0,0.8);
    margin-top:50vh;
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}