body
{
    background: url('http://localhost:8080/resources/images/mountain-climber.jpg') no-repeat center center fixed;
}

.page{
    min-height : 100vh;
}

h1
{
    text-align:center;
}

.container{
    background-color: rgba(0,0,0,0.8);
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}