<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Resource name="jdbc/DB_CLIFFHANGOUT"
              auth="Container"
              type="javax.sql.DataSource"
              url="jdbc:postgresql://YOUR_DB_SERVER:5432/YOUR_DB"
              driverClassName="org.postgresql.Driver"
              username="YOUR_DB_USERNAME"
              password="YOUR_PASSWORD"
              defaultAutoCommit="false"
              defaultTransactionIsolation="READ_COMMITTED"
              initialSize="1"
              maxTotal="30"
              maxIdle="10"
              maxWaitMillis="60000"
              minIdle="1"
              removeAbandonedTimeout="60"
              removeAbandonedOnBorrow="true"
              logAbandoned="true"
              minEvictableIdleTimeMillis="10000"
              timeBetweenEvictionRunsMillis="30000"
              validationQuery="SELECT 1"
              testWhileIdle="true"
              testOnBorrow="true"
    />
</Context>