body
{
    background: url('http://localhost:8080/images/climber2.jpg') no-repeat center center fixed;
    text-align: center;
}

.page{
    min-height : 100vh;
}

.burger, .burger::before, .burger::after
{
    background: black !important;
}

.burger.cross {
    background: rgba(0,0,0,0) !important;
}

.burger.cross::before, .burger.cross::after {
    background: lightgrey !important;
}

body.isAside .menu-user ul > li
{
    color:lightgrey !important;
}

.menu-user ul > li
{
    color:black !important;
}

.footer p
{
    color: black;
}

.welcome-message h1
{
    margin-bottom: 20px;
    color:black !important;
}

.welcome-message p
{
    color:black !important;
    margin-bottom: 10px;
}

.container
{
    background: rgba(0,0,0,0.8);
    border-radius : 5%;
}

.btn-cliffhangout
{
    margin-bottom : 10px;
}

.modal-backdrop {
    z-index: -1;
}

@media only screen and (max-width: 768px)
{
    h1
    {
        margin-top: 60px;
    }

    .container
    {
        border-radius : 0;
    }
}