body
{
    background: url('http://localhost:8080/images/mountain-climber.jpg') no-repeat center center fixed;
}
.page{
    min-height : 100vh;
}

.container
{
    background: rgba(0,0,0,0.8);
    margin-top:50vh;
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

h1
{
    text-align: center;
}

.submitForm
{
    margin-bottom:20px;
}